<ul class="list-unstyled d-flex w-100 h-100 ">
  <li class="flex-fill">
    <a href="#" class=" h-100 card robot-card border-0 rounded-0 " style="background-image: url('<%= imgUrl %>');">
      <h4 class="ff-sh text-white d-flex flex-column align-items-center fs-24 fs-md-32 mb-18 mb-md-80">
        <span class="ff-saira fs-128 fs-md-400 fw-light mb-16 mb-md-20"><%= number %></span>
        <%= name %>
      </h4>
      <div class="d-flex flex-column flex-xl-row align-items-xl-end justify-content-between">
        <div class="text-white">
          <h5 class="fw-bold mb-0"><%= title %></h5>
          <p class="mb-0"><%= subtitle %></p>
        </div>
        <img src="https://hackmd.io/_uploads/ByjLe2_3h.png" alt="arrow" class="img-fluid">
      </div>
    </a>
  </li>
</ul>